<div class="container">
  <h1>This is a Question?</h1>

  <!-- .card_container houses the 3D space -->
  <section class="card_container">
    <!-- #card acts as a wrapper for the 3D object -->
    <div id="card">
      <figure class="front">?</figure>
      <figure class="back">Answer</figure>
    </div>
  </section>  
  
  <section id="guess">
    <form id="guess_form" action='' method=''>
      <input type="text" id="guess_box" placeholder="Guess Here">
      <br>
      <br>
      <input type='submit' id="flip_button" value="Flip It!">
    </form>
  </section>

</div>


